---
import ContentSection from "~/components/content-section.astro";
import ShowcaseProjectCard from "~/components/ShowcaseProjectCard.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Showcase" id="showcase">
  <!-- <Fragment slot="lead">
    Astro is <span class="text-primary">versatile</span>.{" "}
    Explore</span> what's possible and get{" "}
    <span class="text-primary">inspired</span>.
  </Fragment> -->
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">
      {sites.map((site) => (
        <ShowcaseProjectCard
          title={site.title}
          image={site.image}
          role={site.role}
          description={site.description}
          url={site.url} />
      ))}
    </div>
  </div>
</ContentSection>
